
PORT=5000
NODE_ENV=production
APP_PIN=1234
MOCK_ADMIN_PHONE=0911111111
MOCK_STATION_PHONE=0922222222
MOCK_STATION_ID=weldeya
MOCK_STATION_NAME=Weldeya
AUTH_SECRET=replace_with_a_long_random_secret

PGHOST=localhost
PGPORT=5432
PGUSER=postgres
PGPASSWORD=your_postgres_password
PGDATABASE=bini
PG_SKIP_CREATE=true
